<div class="flex rounded-md px-4 py-3 {{ if not (.Get " cardColor") }}bg-primary-100 dark:bg-primary-900{{ end }}" {{
  with .Get "cardColor" }}style="background-color: {{ . | safeCSS }};" {{ end }}>
  <span class="pe-3 {{ if not (.Get " iconColor") }}text-primary-400{{ end }}" {{ with .Get "iconColor"
    }}style="color: {{ . | safeCSS }};" {{ end }}>
    {{ partial "icon.html" (.Get "icon" | default (.Get 0) | default "triangle-exclamation") }}
  </span>
  <span class="{{ if not (.Get " textColor") }}dark:text-neutral-300{{ end }}" {{ with .Get "textColor"
    }}style="color: {{ . | safeCSS }};" {{ end }}>
    {{- .Inner | markdownify -}}
  </span>
</div>