{{- $cardColor := .Get "cardColor" -}}
{{- $iconColor := .Get "iconColor" -}}
{{- $textColor := .Get "textColor" -}}
{{- $icon := .Get "icon" | default (.Get 0) | default "triangle-exclamation" -}}

<div class="flex rounded-md px-4 py-3 {{ if not $cardColor }}bg-primary-100 dark:bg-primary-900{{ end }}" {{ with
  $cardColor }}style="background-color: {{ . | safeCSS }};" {{ end }}>
  <span class="pe-3 {{ if not $iconColor }}text-primary-400{{ end }}" {{ with $iconColor
    }}style="color: {{ . | safeCSS }};" {{ end }}>
    {{ partial "icon.html" $icon }}
  </span>
  <span class="{{ if not $textColor }}dark:text-neutral-300{{ end }}" {{ with $textColor
    }}style="color: {{ . | safeCSS }};" {{ end }}>
    {{- .Inner | markdownify -}}
  </span>
</div>